*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: cursive;
    font-size: 1rem;
    background: rgb(246, 233, 233);
    color: rgb(42, 14, 180);

}

.booklist
{
    width: 90vw;
    max-width: 800px;
    margin: 10rem auto;
    display: grid;
    gap: 4rem;
}

@media screen and (min-width:768px)
{
      .booklist
      {
        grid-template-columns: repeat(3, 1fr);
      }

}

.book img{
    max-width: 100%;
    object-fit:cover;
}

.book
{
   background: white;
   border-radius: 10px;
   padding: 2rem;
   text-align: center;
}

.book h4
{
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(196, 110, 162);
}

.book h1
{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: rgb(15, 221, 49);
}

.book h3{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: rgb(215, 204, 81);
}
